@charset "utf-8";

/*すべてのWEBページに適用される*/
html{
	font-family: sans-serif;
}

html *{
	box-sizing: border-box;
}

body{
	margin: 0 0 0 0;
	background-color: #dcdcdc;
}
.wrapper{
	margin:0 auto 0 auto;
	max-width: 960px;
}

h1{
	font-size:30px;
	color:#696969;
	margin-top:0px;
}
	
h2{
	color: #3f5170;
	font-size:22px;
	border-bottom: 3px dotted #3f5170;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}

p{
	line-height: 1.6;
}
a:link{
	color: #d25833;
}

a:visited{
	color: #d25833;
}

a:hover{
	color: #e3937a;
}

a:active{
	color: #ff6a3b;
}
img{
	max-width: 100%;
	height: auto;
}

/* すべてのページに適用 - ヘッダー - */
.logo{
	margin: 30px 0 0 0 ;
	line-height: 0 ;
	text-align: center;
}

.official{
	font-size:25px;
	text-align:center;	
	color:#696969
}


.line{
	background-image:url(../images/dot-line.png);
	background-repeat: repeat-x;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:20px;
	margin-top:0px;
}

.nav{
	text-align: center;
}

.nav li{
	display: inline;
	list-style-type: nane;
	padding: 0 30px 0 0 ;
}



.nav a:link{
	color: #3c454d;
	text-decoration: none;
}

.nav a:visited{
	color: #3c454d;
	text-decoration: none;
}

.nav a:hover{
	color: #7b8dac;
	text-decoration: none;
}

.nav a:active{
	color: #5a9bc0;
	text-decoration: none;
}

/*すべてのページに適用 - フッター - */
.footer{
	background-image:url(../images/dot-line.png);
	background-repeat: repeat-x;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	padding: 80px 15px 20px 15px ;
	text-align: center;
}

/* 個別のスタイル */
/* indx.html */
.keyvisual{
	padding: 10px 0 0 0 ;
	text-align: center;
}
.nwes-item{
	margin: 0 ;
}
/*profile html */
.profile-block{
	display: flex;
}
.profile-photo{
	margin-right: 20px;
}

.profile-photo{
	float: left;
	padding: 0 1em 1em 0;	
	margin: 0;
}

.guitars{
	display: block;
}
.guitars td{
	padding: 8px;
	text-align: center;
}
.guitars th{
	padding: 8px;
	text-align: center;
	font-weight: normal;
}

/* menu.html */
.menu-item{
	display: flex;
	border-bottom: 1px dashed #bec2c7;
	padding: 20px 8px;
}
.menu-photo{
	margin-right: 16px;
	flex:1 1 auto
}
.menu-text{
	flex: 0 0 336px;
}


/* contact.html */
.contact{
	font-size: 15px;
}	
input[name="name"]{
	width: 30em;
}
input[name="phone-number"]{
	width: 30em;
}
input[name="adress"]{
	width: 30em;
}
textarea{
	width: 30em;
	height: 6em;
	margin: 20px 0;
}
input[type="submit"]{
	margin: 20px 0;
	width: 30em;
}

/* スマホ向けCSS */
@media (max-width: 767px) {
	/* 全体ーナビゲーション */
	.wrapper{
	margin: 0 8px;
	overflow: hidden;
	}
	.logo{
	text-align: center;
	}
	.logo img{
	width: 200px;
	}
	.navi{
	background-color: #ffa07a;
	}
	.nav li{
	display:block;
	}
/* profile.html-横並びの解除*/
.profile-block{
	display: block;
	}
.profile-photo{
	margin-right: 0;
	width: 100%;
	text-align: center;
	}
.profile-text{
	width: 100%;
	}
/* profile.html-画像のパディングを調整 */
.profile-photo{
	padding-right: 0;
}
/* dircography.html-横並びの解除*/
.menu-item{
	display: block;
}
.menu-photo{
	margin-right: 0;
	width: 100%;
	text-align: center;
}
.menu-text{
	width: 100%;
}
	

/* contact.html-フォーム */
	select{
	width: 100%;
	}
input[nama="subject"]{
	width: 100%;
	}
textarea{
	width: 100%;
	}
input[type="submit"]{
	margin: 20px 0;
	width: 100%;
	}
}
