@charset "utf-8";

/*すべてのWEBページに適用される*/
html{
	font-family: sans-serif;
}

html *{
	box-sizing: border-box;
}

body{
	margin: 0 0 0 0;
	background-color: #dcdcdc;
}
.wrapper{
	margin:0 auto 0 auto;
	max-width: 960px;
}

h1{
	font-size:30px;
	color:#696969;
	margin-top:0px;
}
	
h2{
	color: #3f5170;
	font-size:22px;
	border-bottom: 3px dotted #3f5170;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;

}

p{
	line-height: 1.6;
}
a:link{
	color: #d25833;
}

a:visited{
	color: #d25833;
}

a:hover{
	color: #e3937a;
}

a:active{
	color: #ff6a3b;
}
img{
	max-width: 100%;
	height: auto;
}

/* すべてのページに適用 - ヘッダー - */
.logo{
	margin: 40px 0 0 0 ;
	line-height: 0 ;
	text-align: center;
}

.official{
	font-family:serif;
	font-size:25px;
	text-align:center;	
	padding:0 0 0 0;
	margin:0 0 0 0;
	color:#fa8072
}


.line{
	background-image:url(../images/dot-line.png);
	background-repeat: repeat-x;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:0px;
	margin-top:0px;
}
.nav{
	text-align: center;
}

.nav li{
	display: inline;
	list-style-type: nane;
	padding: 0 30px 0 0 ;
}


.nav a:link{
	color: #3c454d;
	text-decoration: none;
}

.nav a:visited{
	color: #3c454d;
	text-decoration: none;
}

.nav a:hover{
	color: #7b8dac;
	text-decoration: none;
}

.nav a:active{
	color: #5a9bc0;
	text-decoration: none;
}


/*実験*/
@media screen and (max-width:480px) {
	#nav-open {
	display:none;
}
/* bager menu */

#ham #navi {
	transition: all .6s;
	overflow-y: auto;
	padding-top: 40px;
	width: 300px;
	height: 100vh;
	z-index: 200;
	top: 0;
	right: -320px;
	background-color: #fff;
	position: fixed;
	color:#fa8072
}

#ham .nav_btn {
	width: 44px;
	height: 44px;
	z-index: 300;
	top: 7px;
	right: 7px;
	cursor: pointer;
	position: absolute;
	color:#fa8072;
}

.hamburger_line {
	transition: all .6s;
	width: 34px;
	height: 2px;
	left: 5px;
	background-color: #1F2F54;
	position: absolute;
}

.hamburger_line1 { top: 10px; }
.hamburger_line2 { top: 21px; }
.hamburger_line3 { top: 32px; }

.nav_bg {
	opacity: 0;
	transition: all .6s;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: #ffa07a;
	cursor: pointer;
	position: fixed;
}

/* 表示された時用のCSS */
.nav{
	line-height: 30px;
}

.nav_open #ham #navi { right: 0; }

.nav_open .nav_bg {
	opacity: .8;
	visibility: visible;
}

.nav_open .hamburger_line1 {
	transform: rotate(45deg);
	top: 20px;
}

.nav_open .hamburger_line2 {
	width: 0;
	left: 50%;
}

.nav_open .hamburger_line3 {
	transform: rotate(-45deg);
	top: 20px;
}

}
/*すべてのページに適用 - フッター - */
.footer{
	background-image:url(../images/dot-line.png);
	background-repeat: repeat-x;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	padding: 30px 15px 20px 15px ;
	text-align: center;
}

/* 個別のスタイル */
/* indx.html */
.keyvisual{
	padding: 10px 0 0 0 ;
	text-align: center;
}
.nwes-item{
	margin: 0 ;
}
/*profile html */
.profile-block{
	display: flex;
}
.profile-photo{
	margin-right: 20px;
}

.profile-photo{
	float: left;
	padding: 0 1em 1em 0;	
	margin: 0;
}

.guitars{
	display: block;
}
.guitars td{
	padding: 8px;
	text-align: center;
}
.guitars th{
	padding: 8px;
	text-align: center;
	font-weight: normal;
}

/* menu.html */
.menu-item{
	display: flex;
	border-bottom: 1px dashed #bec2c7;
	padding: 20px 8px;
}
.menu-photo{
	margin-right: 16px;
	flex:1 1 auto
}
.menu-text{
	flex: 0 0 336px;
}


/* contact.html */
.contact{
	font-size: 15px;
}	
input[name="name"]{
	width: 30em;
}
input[name="phone-number"]{
	width: 30em;
}
input[name="adress"]{
	width: 30em;
}
textarea{
	width: 30em;
	height: 6em;
	margin: 20px 0;
}
input[type="submit"]{
	margin: 20px 0;
	width: 30em;
}

/* スマホ向けCSS */
@media (max-width: 767px) {
	/* 全体ーナビゲーション */
	.wrapper{
	margin: 0 8px;
	overflow: hidden;
	}
	.logo{
	text-align: center;
	}
	.logo img{
	width: 200px;
	}
	.navi{
	background-color: #ffa07a;
	}
	.nav li{
	display:block;
	}
/* profile.html-横並びの解除*/
.profile-block{
	display: block;
	}
.profile-photo{
	margin-right: 0;
	width: 100%;
	text-align: center;
	}
.profile-text{
	width: 100%;
	}
/* profile.html-画像のパディングを調整 */
.profile-photo{
	padding-right: 0;
}
/* dircography.html-横並びの解除*/
.menu-item{
	display: block;
}
.menu-photo{
	margin-right: 0;
	width: 100%;
	text-align: center;
}
.menu-text{
	width: 100%;
}
	

/* contact.html-フォーム */
	select{
	width: 100%;
	}
input[nama="subject"]{
	width: 100%;
	}
textarea{
	width: 100%;
	}
input[type="submit"]{
	margin: 20px 0;
	width: 100%;
	}
}
